<%- include("header") -%>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title><%= districtName %></title>
</head>
<body>
    <%- include("navbar") -%>
    <h1><%= districtName %></h1>
    <div class="box">
        <% schoolsList.forEach(function(school) { %>
            <form action="/schoolPage" method="POST">
            <div class="item">
                <p><%= school %></p>
                <button type="submit" name="schoolBtn" value="<%= school %>" class="btn btn-dark btn-sm">Go</button>
                <input type="hidden" name="districtName" value="<%= districtName %>"></input>
            </div>
            </form>
        <%});%>          
    </div>
</body>
</html>